body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  text-align: center;
  padding: 20px;
}

.contenedor {
  max-width: 1300px;
  margin: auto;
  background: rgb(214, 112, 209);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(209, 123, 212, 0.315);
}

.barra_superior {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.contenedor_imagenes {
  display: flex;
  justify-content: center;
  background-color: rgb(176, 118, 202);
 
  gap: 20px; /* Espacio entre ellas */
}

.image-box {
  position: relative;
  border: 15px;
  
  margin: 15px;
}

.image-box img {
  max-width: 600px;
  border-radius: 10px;
 
}

/* Circulos verdes */
.marks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* para no bloquear clics */
}

.mark {
  position: absolute;
  border: 5px solid rgb(96, 53, 151);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#message {
  margin-top: 15px;
  font-size: 1.4em;
  font-weight: bold;
}

button{
    background-color: rgb(255, 255, 255);
    color: rgb(155, 11, 124);
    font-size: xx-large;
    

}
